<!DOCTYPE html>
<html lang="en">
<head>
	<title>Screenshot Saturday</title>
	<meta charset="UTF-8" />
	<meta name="content-language" content="en">
	<meta name="copyright" content="copyright 2010" />
	<meta name="language" content="en">
	<meta name="description" content="Screenshot saturday gallery, watch games grow in REALTIME (weekly). "> 
	<meta name="keywords" content="HTML5, screenshot saturday, indie games, #screenshotsaturday">    
	<meta name="resource-type" content="document">
	<meta name="author" content="">	
	<meta name="robots" content="index,follow">
	
	<link rel="shortcut icon" href="favicon.png" />
    <style type="text/css">
		body { background-color: #eee; padding:0px; border:0px; margin:0px; }
		#screenshots { margin-top:128px; text-align: center; line-height: 0px; }
		#spacer { margin-bottom:0px; height:180px; }
		#header { float:left; background-image:url(./header.png); position:absolute; top:40px; left:50%; margin-left:-322px; width:644px; height:68px; z-index:-1;}
		#topleft { float:left; background-image:url(./topleft.jpg); position:fixed; top:0px; left:0px; width:768px; height:402px; z-index:-1;}
		#topright { float:right; background-image:url(./topright.png); position:fixed; top:0px; right:0px;  width:485px; height:312px; z-index:-1;}
		#screenshots a { display: inline-block; width: 73px; height: 73px; margin:12px;   }
		#screenshots img {  width: 73px; height: auto; border-style: none;  border:solid 6px rgba(0,0,0,0.2); -moz-border-radius: 6px; border-radius: 6px;  }
		#intros { margin-top:20px; margin-bottom:-40px; }
		#intros a { display: inline-block; width: 150px; height: 150px; margin:12px;   }
		#intros img {  width: 150px; height: auto; border-style: none;  border:solid 6px rgba(0,0,0,0.2); -moz-border-radius: 6px; border-radius: 6px;  }
		#textbar { z-index:25; text-align:center; color:#fff; font-family:verdana; font-size:14px; bottom:0px; border-bottom:solid 1px #888;border-top:solid 1px #555; width:100%; height:75px; position:fixed; z-index:10; background-color:rgba(0,0,0,0.95); -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.3); -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.3); box-shadow: 0px 0px 15px rgba(0,0,0,0.3); }
		#selector { background-image:url(./selector.png); position:absolute; width:32px; height:32px; left:502px; top:458px; z-index:2; opacity:0.9; }
		#infotext { position:relative; top:9px;  }
		#infotext a { font-weight:bold; text-decoration:none; color:#09e; }
		#infotext a:hover { text-decoration:none; color:#fff; }
		#userinfo { position:absolute; width:400px; left:50%; margin-left:-200px; bottom: 9px; }
		#userinfo a { font-weight:bold; text-decoration:none; color:#09e; }
		#userinfo a:hover { text-decoration:none; color:#fff; }
		.spacer2 {  height:70px; border:solid 0px #000; }
		#weekname { tex-align:center; width:500px; margin-top:50px; line-height:24px; margin-left:-250px; left:50%; position:absolute; text-decoration:none; color:#000; font-weight:bold; font-family:verdana; font-size:16px; }
    </style>
	
	<link href="assets/SqueezeBox.css" rel="stylesheet" type="text/css" />
    
    <script type="text/javascript" src="./mootools.1.3.1.js"></script>
	<script type="text/javascript" src="./mootools.more.1.3.1.1.js"></script>
	<script type="text/javascript" src="./SqueezeBox.js"></script>
	
	<script type="text/javascript">
		window.addEvent( 'domready' , function() {
		
			SqueezeBox.assign($$('a[rel=boxed]'));
			
			$('selector').setStyle('opacity', 0);
			//$('textbar').setStyle('opacity', 0);
			
			
			$('textbar').addEvents ({
					mouseover: function(){
						
					}, 
					
					mouseleave : function() {
						
					}
				});
			
			$$('img').each(function(item, index) {
			
				item.tween('borderColor', '#ccc');	
			
				item.addEvents({
					mouseover: function(){
					
						
						$('textbar').set('tween', { duration:200 });
						$('textbar').tween('bottom', '0px');						
							/*Fade in the little selector arrow, over 200 ms to opacity 1.0 */
						$('selector').set('tween', { duration:200 });
						$('selector').tween('opacity', 0.9);
						
							/* Move the selector to the images position plus some offsets to make it centered. */
						$('selector').position({
							relativeTo: item,
							position: 'centerBottom',
							transition: Fx.Transitions.Quad.easeInOut,
							duration: 1000,
							offset : {x: -16, y:-38}
						});
						
						item.set('tween', {duration:200});
						item.tween('borderColor', '#000');			

						$('infotext').set('html', item.getAttribute('alt') );
						$('userinfo').set('html', item.getAttribute('rel'));

					},
					
					mouseleave: function(){
					
						//$('textbar').set('tween', { duration:200 });
						//$('textbar').tween('opacity', 0.0);		

						//$('textbar').set('tween', { duration:200 });
						//$('textbar').tween('bottom', '-80px');			
						
						$('selector').set('tween', { duration:200 });
						$('selector').tween('opacity', 0.0);						
						
						item.set('tween', {duration:600});
						item.tween('borderColor', '#ccc');						
					}
				});
					
			});
		});
	</script>

    <script type="text/javascript"> var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-10584149-1']);_gaq.push(['_setDomainName','.pekuja.com']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s);})(); </script>
	
</head>

<body id="body">
<div id="topleft"> </div>
<div id="topright"> </div>
<a href="#"> <div id="header"> </div> </a>

<div class="spacer2" style="margin-top:20px;"> </div>

<div id="intros" align="center"> 
{% comment %} {% if prev_page %}
	<a href="{{ prev_page }}" ><img src="./prev.png" rel="" alt='View the week before this, screenshots from week #{{ week_num|add:"-1" }}'/></a>
{% endif %} {% endcomment %}
	<a href="./aboutinfo.jpg" rel="boxed" ><img src="./about.png" rel="" alt='View information about #screenshotsaturday and who runs it.'/></a>
{% comment %} {% if next_page %}
	<a href="{{ next_page }}" ><img src="./next.png" rel="" alt='View the week after this, screenshots from week #{{ week_num|add:"1" }}'/></a>
{% endif %} {% endcomment %}
 </div> 
 
<div id="weekname" align="center"> You are viewing the list of #screenshotsaturday users <br/> {{ users|length }} users </div> 

<div id="screenshots">
    {% for user in users %}<a href="user/{{ user.0 }}.html"
    ><img src="user/{{ user.0 }}.avatar" rel="<a href=&quot;http://twitter.com/{{ user.0|escape }}&quot;>@{{ user.0|escape }}</a>" alt="{{ user.1 }} screenshots submitted"/></a
    >{% endfor %}
</div>
	
	<div id="textbar">
		<div id="infotext" > Welcome to #screenshotsaturday! <br/> You post images via twitter, we showcase them here. </div> 
		<div id="userinfo" > <a href=""> @YourNameHere </a> </div> 
	</div>
	<div id="selector"> </div>
	
	<div id="barbottom"></div>
	<div id="spacer"> </div>
	
	
	</div>
</body>
</html>